<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

     <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300i,400,700,700i" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  </head>

  <body>

    <nav class='navbar navbar-inverse navbar-fixed-top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/#'>The Learning Wall</a>
      </div>
      <ul class='nav navbar-nav navbar-right' >

        <li>
            <input type="text" class="form-control search-bar"  placeholder="Search...">
        </li>
        <li>
            <button type ="submit" class="btn btn-default search-bar">Submit</button>
        </li>

        <li><a href="/login">User</a></li>
        <li><a href="/resource">Resources</a></li>
        <li><a href="/user_id/edit">Edit Profile</a></li>
        <li><a href='/'>Logout</a></li>
      </ul>
      </div>
    </nav>


    <div class='user-field container text-center'>
    <div class="row">
      <form method= "POST" action='/new_resource'>
      <h3>Add a New Learning Tutorial</h3>
          <section class="col-sm-center-block" action='/#' >
            <div>
              <label class="label-edit"><b>URL</b></label>
              <input class="edit" type="text" placeholder="Enter URL" name="url" required>
            </div>

            <div>
              <label class="label-edit"><b>Title</b></label>
              <input class="edit" type="text" placeholder="Enter a Title" name="title" required>
            </div>

            <div>
              <label class="label-edit"><b>Description</b></label>
              <input class="edit" type="text" placeholder="Enter a Description" name="dscript" required>
            </div>

            <div align="center">
              <label class="label-edit" for="tutorialtype" >Categories</label>
              <select class="edit form-control">
                <option>Choose</option>
                <option value="CSS">Category1</option>
                <option value="JQuery">Category2</option>
                <option value="Bootstrap">Category3</option>
                <option value="HTML">Category4</option>
                <option value="Other">Category5</option>
              </select>
            </div>

            <button class="edit-button" type='submit'>Submit</button>
          </section>
        </div>
    </div>


    <div class='container'>
        <div class='row justify-content-end'>
            <% for(var i=0; i<resources.length; i++) {%>
                  <span class=" col-sm-12 col-md-6">
                    <div class="star s-0.5" data-default="0.5" style="color: white;">From DB<%= resources[i].title  %> 0.5 stars</div>
                    <iframe class="col-sm-12"  width="420" height="345" src="<%= resources[i].resource_url  %>" ></iframe>
                    <button class="btn btn-outline-primary">Like</button>
                    <button class="btn btn-info"><a href="/resource/id">Comments</a></button>
                    </span>
            <% } %>
        </div>
    </div>
  </body>
</html>
